<div id="wrapper">
  <div id="container">
    <div id="login-form">

      <%= form_with model: @form, url: staff_login_path, method: :post do |f| %>
  <% @title = "ログイン" %>
  <h1><%= @title %></h1>

  <fieldset id="staff-edit-fields">
    <div>
      <%= f.label :email, "メールアドレス" %>
      <%= f.text_field :email %>
    </div>
    <div>
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>
    </div>
    <div class="buttons">
      <%= f.submit "ログイン" %>
    </div>
  </fieldset>
<% end %>
    </div>
  </div>
</div>