<%# Login Page style %>
<% @title = "ログイン" %>

<div id="wrapper">
  <div id="container">
    <div id="login-form">

      <%= form_with model: @form, url: admin_login_path, method: :post,
              as: :admin_login_form, local: true do |f| %>
  <fieldset id="staff-edit-fields">
    <h1><%= @title %></h1>

    <div>
    <%= f.label :email, "メールアドレス" %>
    <%# Передаем хэш опций { id: "..." } %>
    <%= f.text_field :email, id: "admin_login_form_email" %>
  </div>

  <div>
    <%= f.label :password, "パスワード" %>
    <%# Делаем то же самое для поля пароля %>
    <%= f.password_field :password, id: "admin_login_form_password" %>
  </div>

    <div class="buttons">
      <%= f.submit "ログイン" %>
    </div>
  </fieldset>
<% end %>
    </div>
  </div>
</div>