<% @title= "アカウント情報編集" %>
<h1><%= @title %></h1>

<div id="login-form">
  <%= form_with model: @staff_member, url: staff_account_path, local: true do |f| %>
  <fieldset id="staff-edit-fields">
    
    <div class="field">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, required: true %>
    </div>

    <div class="field">
      <%= f.label :family_name, "姓" %>
      <%= f.text_field :family_name, required: true %>
    </div>

    <div class="field">
      <%= f.label :given_name, "名" %>
      <%= f.text_field :given_name, required: true %>
    </div>

    <div class="field">
      <%= f.label :family_name_kana, "姓（カナ）" %>
      <%= f.text_field :family_name_kana, required: true %>
    </div>

    <div class="field">
      <%= f.label :given_name_kana, "名（カナ）" %>
      <%= f.text_field :given_name_kana, required: true %>
    </div>

    <div class="buttons">
      <%= f.submit "更新" %>
      <%= link_to "キャンセル", staff_account_path %>
    </div>
  </fieldset>

  <% end %>
</div>
