<%= form_with model: @new_allowed_source,
	url: [ :admin, @new_allowed_source ] do |f| %>
	<div>
		<%= f.label(:octet1, "新規登録許可IPアドレス")%>

<div class="allowed-ip-fields">
  <%= f.text_field(:octet1, size: 3, class: "ip-input") %>
  <%= f.text_field(:octet2, size: 3, class: "ip-input") %>
  <%= f.text_field(:octet3, size: 3, class: "ip-input") %>
  <%= f.text_field(:last_octet, size: 3, class: "ip-input") %>
			<div class="buttons">

		<%= f.submit "追加" %>
</div>
</div>
	</div>
<% end %>