<%# partial для StaffMember формы %>
<%= form_with model: @staff_member, url: admin_staff_members_path, local: true do |f| %>
  <% p = StaffMemberFormPresenter.new(f, self) %>

  <%# Обязательные поля %>
  <% p.with_options(required: true) do |q| %>
    <%= q.text_field_block(:email, "メールアドレス", size: 32) %>
    <%= q.password_field_block(:password, "パスワード", size: 32) %>
  <% end %>

  <%= p.full_name_block(:family_name, :given_name, "氏名") %>
  <%= p.full_name_kana_block(:family_name_kana, :given_name_kana, "フリガナ") %>

  <%# Даты %>
  <% p.with_options(required: true) do |q| %>
    <%= q.date_field_block(:start_date, "入社日") %>
    <%= q.date_field_block(:end_date, "退職日") %>
  <% end %>

  <%= p.suspended_check_box %>

  <div class="buttons">
    <%= f.submit "登録" %>
    <%= link_to "キャンセル", admin_staff_members_path%>
  </div>
<% end %>