<% @title = "職員一覧" %>
<h1><%= @title %></h1>

<div class="table-wrapper">
  <div class="links">
    <%= link_to "新人登録 とうろく registration of newcomers", new_admin_staff_member_path %>
  </div>

  <table class="listing">
    <thead>
      <tr>
        <th>氏名</th>
        <th>フリガナ</th>
        <th>メールアドレス</th>
        <th>入社日</th>
        <th>退職日 たいしょく Retirement date</th>
        <th>停止 ていし フラグ Stop flag</th>
        <th>アクション</th>
      </tr>
    </thead>
    <tbody>
      <% @staff_members.each do |m| %>
        <% p = StaffMemberPresenter.new(m, self) %>
        <tr>
          <td><%= m.family_name %><%= m.given_name %></td>
          <td><%= m.family_name_kana %><%= m.given_name_kana %></td>
          <td class="email"><%= m.email %></td>
          <td class="date"><%= m.start_date.try(:strftime, "%Y/%m/%d") %></td>
          <td class="date"><%= m.end_date.try(:strftime, "%Y/%m/%d") %></td>
          <td class="boolean"><%= p.suspended_mark %></td>
          <td class="actions">
            <%= link_to "編集へんしゅう", [:edit, :admin, m] %> |
            <%= link_to "Events", [:admin, m, :staff_events] %> |
            <%= link_to "削除 さくじょ", [:admin, m], method: :delete, data: { confirm: "本当に削除しますか?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="links">
    <%= link_to "新人登録 とうろく", new_admin_staff_member_path %>
  </div>
</div>