<% @title = "職員一覧" %>
<h1><%= @title %></h1>

<table class='listing'>
	<tr>
    <th>氏名</th>
    <th>フリガナ</th>
    <th>メールアドレス</th>
    <th>入社日</th>
    <th>退職日 Retirement date</th>
    <th>停止フラグ Stop flag</th>
    <th>アクション</th>
  </tr>
	<% @staff_members.each do |m| %>
	<tr>
		<td><%= m.family_name %><%= m.given_name %></td>
		<td><%= m.family_name_kana %><%= m.given_name_kana %></td>
		<td class="email"><%= m.email %></td>
		<td class="date"><%= m.start_date.strftime("%Y/%m/%d") %></td>
		<td class="date"><%= m.end_date.try(:strftime, "%Y/%m/%d") %></td>
		<td class="boolean">
			<%= m.suspended? ? raw("&#x2611;") : raw("&#x2610;") %></td>
		<td class='actions'>
			<%= link_to "Kanji p.195", [ :edit, :admin, m ]%> |
			<%=link_to "Kanji p.195", [ :admin, m ], method: :delete,
			data: { confirm: "本当に．．．しますか?" } %>
		</td>
	</tr>
	<% end %>
	</table>
</div>


<div class="links">
<%= link_to "新しい職員を追加", new_admin_staff_member_path %>
</div>