<%# registration of newcomers Styles %>
<% @title ="新人登録 とうろく registration of newcomers"%>
<h1><%= @title %></h1>

<div id='login-form'>

<%= form_with model: @staff_member, url: admin_staff_members_path do |f| %>
  <%= render "form", f: f %>
  <div class="buttons">
    <%= f.submit "登録" %>
    <%= link_to "キャンセル", admin_staff_members_path %>
  </div>
<% end %>
</div>