<div id="login-form">
  <%= form_with model: @customer_form.customer, url: staff_customer_path(@customer_form.customer), local: true do |f| %>

    <%# Основная информация о клиенте %>
    <fieldset id="customer-fields">
      <h3>基本情報</h3>

      <div class="field">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, required: true %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password %>
      </div>

      <div class="field">
        <%= f.label :family_name, "姓" %>
        <%= f.text_field :family_name, required: true %>
      </div>

      <div class="field">
        <%= f.label :given_name, "名" %>
        <%= f.text_field :given_name, required: true %>
      </div>

      <div class="field">
        <%= f.label :family_name_kana, "姓（カナ）" %>
        <%= f.text_field :family_name_kana, required: true %>
      </div>

      <div class="field">
        <%= f.label :given_name_kana, "名（カナ）" %>
        <%= f.text_field :given_name_kana, required: true %>
      </div>

      <div class="field">
        <%= f.label :birthday, "生年月日" %>
        <%= f.date_field :birthday %>
      </div>

      <div class="field">
        <%= f.label :gender, "性別" %><br>
        <%= f.radio_button :gender, "male" %> 男性
        <%= f.radio_button :gender, "female" %> 女性
      </div>
    </fieldset>

    <%# Домашний адрес %>
    <div class="check-boxes">
      <%= f.check_box :inputs_home_address %>
      <%= f.label :inputs_home_address, "自宅住所を入力する" %>
    </div>

    <fieldset id="home-address-fields">
      <h3>自宅住所</h3>
      <%= f.fields_for :home_address, f.object.home_address || f.object.build_home_address do |home| %>
        <div class="field">
          <%= home.label :postal_code, "郵便番号" %>
          <%= home.text_field :postal_code %>
        </div>
        <div class="field">
          <%= home.label :prefecture, "都道府県" %>
          <%= home.select :prefecture, Address::PREFECTURE_NAMES %>
        </div>
        <div class="field">
          <%= home.label :city, "市区町村" %>
          <%= home.text_field :city %>
        </div>
        <div class="field">
          <%= home.label :address1, "町域、番地等" %>
          <%= home.text_field :address1 %>
        </div>
        <div class="field">
          <%= home.label :address2, "建物名、部屋番号等" %>
          <%= home.text_field :address2 %>
        </div>
      <% end %>
    </fieldset>

    <%# Рабочий адрес %>
    <div class="check-boxes">
      <%= f.check_box :inputs_work_address %>
      <%= f.label :inputs_work_address, "勤務先を入力する" %>
    </div>

    <fieldset id="work-address-fields">
      <h3>勤務先住所</h3>
      <%= f.fields_for :work_address, f.object.work_address || f.object.build_work_address do |work| %>
        <div class="field">
          <%= work.label :company_name, "会社名" %>
          <%= work.text_field :company_name %>
        </div>
        <div class="field">
          <%= work.label :division_name, "部署名" %>
          <%= work.text_field :division_name %>
        </div>
        <div class="field">
          <%= work.label :postal_code, "郵便番号" %>
          <%= work.text_field :postal_code %>
        </div>
        <div class="field">
          <%= work.label :prefecture, "都道府県" %>
          <%= work.select :prefecture, Address::PREFECTURE_NAMES %>
        </div>
        <div class="field">
          <%= work.label :city, "市区町村" %>
          <%= work.text_field :city %>
        </div>
        <div class="field">
          <%= work.label :address1, "町域、番地等" %>
          <%= work.text_field :address1 %>
        </div>
        <div class="field">
          <%= work.label :address2, "建物名、部屋番号等" %>
          <%= work.text_field :address2 %>
        </div>
      <% end %>
    </fieldset>

    <div class="buttons">
      <%= f.submit "更新" %>
      <%= link_to "キャンセル", staff_customers_path %>
    </div>

  <% end %>
</div>