<div id="customer-form">
  <%= form_with model: @customer_form.customer,
                url: @customer_form.customer.new_record? ? staff_customers_path : staff_customer_path(@customer_form.customer),
                local: true do |f| %>

    <!-- 基本情報 -->
    <fieldset>
      <legend>基本情報</legend>
      <div class="field">
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, required: true %>
      </div>
      <div class="field">
        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password %>
      </div>
      <div class="field">
        <%= f.label :family_name, "姓" %>
        <%= f.text_field :family_name, required: true %>
      </div>
      <div class="field">
        <%= f.label :given_name, "名" %>
        <%= f.text_field :given_name, required: true %>
      </div>

      <div class="field">
        <%= f.label :gender, "性別" %><br>
        <%= f.radio_button :gender, "male" %> 男性
        <%= f.radio_button :gender, "female" %> 女性
      </div>
<!-- Personal phones -->
   
      <legend>個人電話番号</legend>
      <%= f.fields_for :personal_phones do |phone| %>
        <div class="field">
          <%= phone.label :number, "電話番号" %>
          <%= phone.text_field :number %>
        </div>
      <% end %>

    </fieldset>

    <!-- チェックボックス для home address -->
    <div class="check-boxes">
      <%= f.check_box :inputs_home_address %>
      <%= f.label :inputs_home_address, "自宅住所を入力する" %>
    </div>

    <!-- Home address -->
    <fieldset>
  <legend>自宅住所</legend>
  <%= f.fields_for :home_address do |home| %>
    <div class="field">
      <%= home.label :postal_code, "郵便番号" %>
      <%= home.text_field :postal_code %>
    </div>
    <div class="field">
      <%= home.label :prefecture, "都道府県" %>
      <%= home.select :prefecture, Address::PREFECTURE_NAMES %>
    </div>
    <div class="field">
      <%= home.label :city, "市区町村" %>
      <%= home.text_field :city %>
    </div>
    <div class="field">
      <%= home.label :address1, "町域、番地等" %>
      <%= home.text_field :address1 %>
    </div>
    <div class="field">
      <%= home.label :address2, "建物名、部屋番号等" %>
      <%= home.text_field :address2 %>
    </div>
  <% end %>
</fieldset>

    <!-- チェックボックス для work address -->
    <div class="check-boxes">
      <%= f.check_box :inputs_work_address %>
      <%= f.label :inputs_work_address, "勤務先を入力する" %>
    </div>

    <!-- Work address -->
<fieldset>
  <legend>勤務先住所</legend>
  <%= f.fields_for :work_address do |work| %>
    <div class="field">
      <%= work.label :company_name, "会社名" %>
      <%= work.text_field :company_name %>
    </div>
    <div class="field">
      <%= work.label :division_name, "部署名" %>
      <%= work.text_field :division_name %>
    </div>
    <div class="field">
      <%= work.label :postal_code, "郵便番号" %>
      <%= work.text_field :postal_code %>
    </div>
    <div class="field">
      <%= work.label :prefecture, "都道府県" %>
      <%= work.select :prefecture, Address::PREFECTURE_NAMES %>
    </div>
    <div class="field">
      <%= work.label :city, "市区町村" %>
      <%= work.text_field :city %>
    </div>
    <div class="field">
      <%= work.label :address1, "町域、番地等" %>
      <%= work.text_field :address1 %>
    </div>
    <div class="field">
      <%= work.label :address2, "建物名、部屋番号等" %>
      <%= work.text_field :address2 %>
    </div>
  <% end %>
</fieldset>

  <% end %>
</div>
