<% @title = "顧客管理 新規登録" %>
<h1><%= @title %></h1>

<div id="login-form">
  <%= form_with model: @customer_form.customer,
                url: @customer_form.customer.new_record? ? staff_customers_path : staff_customer_path(@customer_form.customer),
                local: true do |f| %>

    <%= render "form", f: f %> <!-- сюда вставляем все поля: базовую информацию, home_address, work_address, телефоны -->

    <div class="buttons">
      <%= f.submit @customer_form.customer.new_record? ? "登録" : "更新" %>
      <%= link_to "キャンセル", staff_customers_path %>
    </div>
  <% end %>
</div>