<% @title = "顧客詳細情報" %>
<h1><%= @title %></h1>

<% customer = @customer %>

<div class="table-wrapper">
  <table class="attributes">
    <tr>
      <th>氏名</th>
      <td><%= customer.family_name %> <%= customer.given_name %></td>
    </tr>
    <tr>
      <th>フリガナ</th>
      <td><%= customer.family_name_kana %> <%= customer.given_name_kana %></td>
    </tr>
    <tr>
      <th>生年月日</th>
      <td><%= customer.birthday %></td>
    </tr>
    <tr>
      <th>性別</th>
      <td><%= customer.gender %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= customer.email %></td>
    </tr>
    <% phones = customer.personal_phones %>
    <tr>
      <th>個人電話番号(1)</th>
      <td><%= phones[0]&.number || "-" %></td>
    </tr>
    <tr>
      <th>個人電話番号(2)</th>
      <td><%= phones[1]&.number || "-" %></td>
    </tr>
    ...
  </table>
</div>