<header>
  <div class="header-left">
    <%= link_to "BAUKIS2", :staff_root, class: "logo-mark" %>
    
    <%= content_tag(:span, flash.notice, class: "notice") if flash.notice %>
    <%= content_tag(:span, flash.alert, class: "alert") if flash.alert %>
  </div>

  <div class="header-right">
    <% if current_staff_member %>
      <%= link_to "アカウント", staff_account_path %>
      <%= number_of_unprocessed_messages %>
      <%= button_to "ログアウト", staff_logout_path, method: :delete, 
          class: "logout-btn", 
          form: { class: "auth-form" } %>
    <% else %>
      <%= button_to "ログイン", staff_login_path, method: :get,
          class: "login-btn",
          form: { class: "auth-form" } %>
    <% end %>
  </div>
</header>